<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/main.css">
		<meta charset="utf-8">
		<title>Pixel art maker</title>
	</head>
	<body>
		<h1>Pixel Art Maker</h1>
		<section class="generator">

		<form name="grid_maker">
		<label>Input Desired Pixel Field Size</label><br>
		<input type="number" name="grid_size" value="5"><br>
		<button type="submit"name="grid_submit" name="button">Generate your Canvas</button>
	</form>
</section>
		<section class="artArea">
			<!-- <div class="row">
			</div> -->
		</section>
		<section class="palette">
			<div class="pallete_Red">
			</div>
			<div class="pallete_Blue">
			</div>
		</section>

		<button>Clear</button>

		<script type="text/javascript" src="/main.js">
		</script>
	</body>
</html>
