<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/main.css">
		<meta charset="utf-8">
		<title>Pixel art maker</title>
	</head>
	<body>
		<h1>Pixel Art Maker</h1>
		<section class="artArea">
			<div class="grid">
				<p>HERRO</p>
			</div>
			<div class="grid">

			</div>
			<div class="grid">

			</div>
			<div class="grid">

			</div>
		</section>
		<section class="palette">
			<div class="pred">

			</div>
			<div class="pblue">

			</div>
		</section>

		<button>Clear</button>

		<script type="text/javascript" src="/main.js">
		</script>
	</body>
</html>
